<form novalidate autocomplete="off" [formGroup]="form">
    <div class="card bg-light mb-3" >
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <b>Cadastro de Custo</b>
                </div>
                <div class="col-md-6 text-right">
                    <a href="custo">Custo</a>
                    &nbsp;
                    <i class="fas fa-arrow-right"></i>
                    &nbsp;
                    Cadastro de Custo
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="valor">Valor:</label>
                        <input type="number" min="1" step="any" id="valor" name="valor" class="form-control form-control-sm" placeholder="Informe o valor do custo"
                            formControlName="valor">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="categoriaCusto">Categoria do Custo:</label>
                        <input type="number" min="1" step="any" id="categoriaCusto" name="categoriaCusto" class="form-control form-control-sm" placeholder="Informe o categoriaCusto do custo" formControlName="categoriaCusto">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!modoAtualizar" type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="criar()">
                <i class="fa fa-save"></i>&nbsp;
                Salvar
            </button>

            <button *ngIf="modoAtualizar" type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="atualizar()">
                <i class="fa fa-save"></i>&nbsp;
                Atualizar
            </button>
            &nbsp;
            <a class="btn btn-secondary" routerLink="../../">Voltar</a>
        </div>
    </div>
</form>