<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Locais
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="fetchLocalizations($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let localization of localizations">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h2>
            ID: {{localization.id}}
          </h2>
          <p> Latitude:{{localization.latitude}} - Longitude:{{localization.longitude}} - Velocidade: {{ localization.velocidade }} km/h </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
