<app-nav-bar *ngIf="autenticado()"></app-nav-bar>

<div class="container-fluid p-3" *ngIf="autenticado()">
  <div class="row">
    <div class="col-md-2">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-md-10 borda">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-fluid p-3" *ngIf="!autenticado()">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ngx-loading-bar height="4px" diameter="30px"></ngx-loading-bar>