<form novalidate autocomplete="off" [formGroup]="form">
    <ul *ngIf="modoAtualizar" class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/veiculo">Dados do veículo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/custo">Custos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/imposto">Impostos</a>
        </li>
    </ul>
    <div class="card bg-light mb-3" >
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <b>Cadastro de Imposto</b>
                </div>
                <div class="col-md-6 text-right">
                    <a routerLink="../">Imposto</a>
                    &nbsp;
                    <i class="fas fa-arrow-right"></i>
                    &nbsp;
                    Cadastro de Imposto
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="dataPagamento">Data de pagamento:</label>
                        <input type="date" id="dataPagamento" name="dataPagamento" class="form-control form-control-sm" formControlName="dataPagamento">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="valor">Valor:</label>
                        <input type="number" min="0.00" max="10000.00" step="0.01" id="valor" name="valor" class="form-control form-control-sm" 
                            placeholder="Informe o valor do imposto" formControlName="valor">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="documento">Documento:</label>
                    <img [src]="imageSrc" style="max-width:300px;max-height:300px"/>
                    <input type="file" id="documento" name="documento" formControlName="documento" (change)="handleInputChange($event)" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!modoAtualizar" type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="criar()">
                <i class="fa fa-save"></i>&nbsp;
                Salvar
            </button>

            <button *ngIf="modoAtualizar" type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="atualizar()">
                <i class="fa fa-save"></i>&nbsp;
                Atualizar
            </button>
            &nbsp;
            <a class="btn btn-secondary" routerLink="../../">Voltar</a>
        </div>
    </div>
</form>