<div class="card bg-light mb-3" >
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <b>Rotas do Veículo</b>
            </div>
            <div class="col-md-6 text-right">
                <a href="veiculo">Veículo</a>
                &nbsp;
                <i class="fas fa-arrow-right"></i>
                &nbsp;
                Rotas do Veículo
            </div>
        </div>
    </div>
    <div class="card-body">
        <agm-map [latitude]="latitudeScs" [longitude]="longitudeScs" [zoom]="zoom">
            <div *ngFor="let coordenada of coordenadas">
                <agm-marker [latitude]="coordenada.latitude" [longitude]="coordenada.longitude"></agm-marker>
            </div>
        </agm-map>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary" href="veiculo">Voltar</a>

    </div>
</div>